<!DOCTYPE html>
<html>
<head>
    <title>DBconnect</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Major ID</th>
        <th>Phone Number</th>
		<th>City</th>
		<th>State</th>
    </tr>
    {% for r in output %}
    <tr>
        <td>{{ r.studentID }}</td>
        <td>{{ r.firstName }}</td>
        <td>{{ r.lastName }}</td>
        <td>{{ r.address }}</td>
        <td>{{ r.major}}</td>
		<td>{{ r.phoneNumber}}</td>
		<td>{{ r.city}}</td>
		<td>{{ r.state}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>